@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main_galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.img-perfil {
    width: 156px;
    border-radius: 16px;
}

.detalles-perfil {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.nombre-usuario {
    color: #4E5150;
}

.ubicacion {
    color: #A9A9A9;
    font-weight: 600;
    font-size: 14px;
}

.detalles-perfil-social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.informacion-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    border-radius: 12px;
    background: #E5E5E5;
    width: 100px;
    height: 67px;
}

.informacion-perfil h3 {
    font-weight: bold;
}

.seccion-imagenes {
    margin-top: 50px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.seccion-imagenes img {
    border-radius: 20px;
}

.imagenes {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.imagenes div:nth-child(1) img {
    width: 299px;
    height: 299px;
    border-radius: 5%;
}

.imagenes div:nth-child(2) img {
    width: 629px;
    height: 299px;
}

.imagenes div:nth-child(3) img {
    width: 627px;
    height: 299px;
}

.imagenes div:nth-child(4) img {
    width: 297px;
    height: 630px;
}

.imagenes div:nth-child(5) img {
    width: 299px;
    height: 299px;
    border-radius: 5%;
}

.imagenes div:nth-child(6) img {
    width: 299px;
    height: 299px;
    border-radius: 5%;
}

.segunda-imagen {
    display: grid;
    grid-column: span 2/span 2;
}

.tercera-imagen {
    grid-column: span 2;
}

.cuarta-imagen {
    grid-row: span 2;
}

footer {
    text-align: center;
    margin: 10px;
    color: #949690;
}

.enlace {
    font-weight: bold;
    text-decoration: none;
    color: #77787c;
}

@media screen and (max-width: 768px) {
    .img-perfil {
        width: 101.76px;
    }

    .nombre-usuario {
        font-size: 14px;
        font-weight: 600;
    }

    .ubicacion {
        font-size: 10px;
    }

    .informacion-perfil {
        width: 78px;
        height: 52px;
    }

    .informacion-perfil h3,
    p {
        font-size: 12px;
    }

    .seccion-imagenes {
        margin: 25px;
    }

    .seccion-imagenes img {
        border-radius: 10px;
    }

    .imagenes {
        gap: 15px;
    }

    .imagenes div:nth-child(1) img {
        width: 109.32px;
        height: 109.32px;
        border-radius: 5%;
    }

    .imagenes div:nth-child(2) img {
        width: 229.98px;
        height: 109.52px;
    }

    .imagenes div:nth-child(3) img {
        width: 229.25px;
        height: 109.52px;
    }

    .imagenes div:nth-child(4) img {
        width: 108.59px;
        height: 230.76px;
    }

    .imagenes div:nth-child(5) img {
        width: 109.32px;
        height: 109.52px;
        border-radius: 5%;
    }

    .imagenes div:nth-child(6) img {
        width: 109.32px;
        height: 109.52px;
        border-radius: 5%;
    }

    footer {
        font-size: 12px;
    }


}